@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
  }
  
  @layer components {
    .overlay{
        @apply fixed z-50 w-full h-screen bg-malibu-950 flex-center
    }
    .btn-blue {
      @apply bg-malibu-700 hover:bg-malibu-500 text-malibu-100 font-bold py-2 px-4 rounded;
    }
    .form-list-item{
      @apply inline-flex flex-col rounded-lg w-full p-5  bg-malibu-500/80 font-cursive tracking-wide font-thin text-2xl 
      text-wrap snap-start cursor-move
      shadow-malibu-800
      shadow-sm
    }
  }
  
  @layer utilities {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
    
    .scrollbar-hidden {
      -ms-overflow-style: none;  /* for IE and Edge */
      scrollbar-width: none;  /* for Firefox */
    }

    .flex-center{
      @apply flex items-center justify-center
    }
  }